@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
}



@theme {
  /* Font Sizes */

  --text-tiny-small: 14px;
  --text-body: 16px;
  --text-small: 18px;
  --text-subtitle: 20px;
  --text-medium: 24px;
  --text-small-heading: 28px;
  --text-medium-heading: 32px;
  --text-heading: 48px;
  --text-hero: 52px;


  --font-Montserrat: "Montserrat", sans-serif;
  --font-Rubik: "Rubik", sans-serif;
}